.section_home{
  .section_products{
    .title {
      text-transform: uppercase;
      font-size: 18px;
      line-height: normal;
      margin: 0 0 20px;
      outline: none;
      padding: 0px;
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      h5{
        font-size: 26px;
        margin: 0;
        display: inline-block;
        position: relative;
        font-weight: 900;
        span{
          background-color: $fs-primario;
          height: 2px;
          width: 50px;
          position: absolute;
          top: 50%;
          margin-top: -1px;
          right: -60px;
        }
      }
    }
    .slider-inner{
      position: relative;
      width: 100%;
      .tns-inner{
        position: relative;
        width: 100%;
        overflow-x: hidden;
      }
      .slider-controls-tiny{
        .controls-slider{
          background-color: #f2f2f2;
          border: 1px solid #e2e2e2;
          width: 40px;
          height: 40px;
          position: absolute;
          padding: 0;
          text-align: center;
          line-height: 40px;
          top: 50%;
          margin-top: -50px;
          .material-icons{
            display: block;
            margin: 0 auto;
          }
          &:disabled{
            opacity: 0.5;
          }
          &:enabled{
            &:hover, &:focus{
              background-color: #555555;
              border-color: #555555;
              color: #f2f2f2;
              outline: 0;
            }
          }
        }
        .controls-left{
          left: -45px;
        }
        .controls-right{
          right: -45px;
        }
      }
    }
  }
  .section_love{
    width: 100%;
    min-height: 150px;
    position: relative;
    margin: 45px 0;
    .bg_black{
      background-color: rgba(0,0,0,.65);
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    .content_love{
      position: relative;
      z-index: 9;
      width: 100%;
      padding:  60px 0;
      background: {
        position: center;
        repeat: no-repeat;
        size: cover;
        image: url(/static/img/bg_fanstore.jpg);
      };
    }
    .description{
      position: relative;
      z-index: 10;
      width: 100%;
      text-align: center;
    }
    h5{
      margin: 0 0 25px;
      font-size: 30px;
      color: #fff;
      text-align: center;
      font-weight: 400;
    }
    a{
      display: inline-block;
      *display: inline;
      font-size: 16px;
      // background-color: $fs-primario;
      color: $fs-primario;
      border: 1px solid $fs-primario;
      padding: 8px 20px;
      margin: 0 auto;
      transition: .4s all;
      &:hover, &:focus{
        text-decoration: none;
        background-color: $fs-primario;
        color: #fff;
      }
    }
  }
  .section_newsletter{
    width: 100%;
    min-height: 150px;
    background: {
      position: center;
      repeat: no-repeat;
      size: cover;
      image: url(/static/img/bg_banner.jpg);
    };
    position: relative;
    padding:  50px 0;
    margin: 75px 0 0;
    .bg_black{
      background-color: rgba(0,0,0,.65);
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    .content-block{
      width: 690px;
      margin: 0 auto;
      position: relative;
    }
    h5{
      margin: 0 0 25px;
      font-size: 30px;
      color: #fff;
      text-align: center;
      font-weight: 400;
    }
    .content_signup{
      width: 690px;
      position: relative;
      margin: 0 auto;
      .ui-textbox{
        height: 60px;
        width: 500px;
        border: 2px solid $fs-primario;
        border-radius: 6px;
        display: inline-block;
        *display: inline;
        float: left;
        margin-bottom: 0;
        color: #fff;
        .ui-textbox__input{
          height: 56px;
          color: #fff;
          border: 0;
          font-size: 20px;
          padding: 0 29px;
        }
      }
      .ui-button{
        height: 60px;
        width: 170px;
        margin-left: 20px;
        border-radius: 6px;
        background-color: $fs-primario;
        color: #fff;
        font-weight: 700;
        display: inline-block;
        float: left;
        font-size: 20px;
        *display: inline;
      }
    }
  }
}
.modal-join{
  .ui-modal__container{
    border-radius: 6px;
    background-color: #3B3B3B;
    width: 567px;
  }
  .ui-modal__body{
    color: rgba(255,255,255,0.55);
    border-bottom: 1px solid #5f5f5f;
    h5{
      text-align: center;
      color: $fs-primario;
      font-size: 28px;
      font-weight: 500;
      margin: 0 0 15px;
    }
  }
  .ui-modal__footer{
    border-top: 1px solid #5f5f5f;
    // border-top: 1px solid #979797;
    background-color: #4b4b4b;
  }
}